<div id="get_feedback" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">反馈信息</h4>
            </div>
            <div class="modal-body">

                <form>
                    <label>反馈意见:</label>
                    <div class="form-group">
                        <label class="sr-only" for="feedback_comment">反馈意见:</label>
                        <textarea type="text" class="form-control" id="feedback_comment" rows="3"></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm_feedback">确认</button>
            </div>
        </div>
    </div>
</div>