<div id="get_instrument_detail_information" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="instrument_name"></h4>
            </div>
            <div class="modal-body">

                <form>
                    <label>生产商:</label>
                    <div class="form-group">
                        <label class="sr-only" for="instrument_manufacturer">生产商:</label>
                        <p type="text" class="form-control" id="instrument_manufacturer"></p>
                    </div>
                    <label>型号:</label>
                    <div class="form-group">
                        <label class="sr-only" for="instrument_type">型号:</label>
                        <p type="text" class="form-control" id="instrument_type" ></p>
                    </div>
                    <label>购买日期:</label>
                    <div class="form-group">
                        <label class="sr-only" for="instrument_purchase_date">购买日期:</label>
                        <p type="text" class="form-control" id="instrument_purchase_date"></p>
                    </div>
                    <label>技术参数:</label>
                    <div class="form-group">
                        <label class="sr-only" for="instrument_technical_parameters">技术参数:</label>
                        <textarea type="text" class="form-control" id="instrument_technical_parameters" rows="5"></textarea>
                    </div>
                    <label>主要功能:</label>
                    <div class="form-group">
                        <label class="sr-only" for="instrument_function">主要功能:</label>
                        <textarea type="text" class="form-control" id="instrument_function" rows="5"></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirm_feedback">确认</button>
            </div>
        </div>
    </div>
</div>