<div id="add_feedback_dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">填写反馈信息</h4>
            </div>
            <div class="modal-body">

                <form>
                    <label>反馈意见:</label>
                    <div class="form-group">
                        <label class="sr-only" for="feedback_comment">反馈意见:</label>
                        <input type="text" class="form-control" id="feedback_comment" placeholder="请输入您的反馈意见">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="submit_feedback" data-dismiss="modal">提交</button>
            </div>
        </div>
    </div>
</div>