<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="banner">
    <ul class="pic">
        <!--淡入淡出banner-->
        <li><a href="javascript:void(0);"><img src="/static/images/logo.jpg" alt="test"></a></li>
        <li><a href="javascript:void(0);"><img src="/static/images/logo2.JPG" alt="test"></a></li>
        <li><a href="javascript:void(0);"><img src="/static/images/loop1.JPG" alt="test"></a></li>
        <li><a href="javascript:void(0);"><img src="/static/images/loop2.JPG" alt="test"></a></li>
        <li><a href="javascript:void(0);"><img src="/static/images/loop3.JPG" alt="test"></a></li>
        <li><a href="javascript:void(0);"><img src="/static/images/loop4.JPG" alt="test"></a></li>
    </ul>
    <a href="javascript:void(0);" class="btn prev">
        <i class="PyWhich py-arrow-left"></i></a>
    <a href="javascript:void(0);" class="btn next">
        <i class="PyWhich py-arrow-right"></i></a>
    <ul class="tab">
        <!-- 按钮数量必须和图片一致 -->
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</body>
</html>
