
<!-- 得到相应课题组的信息 -->
<div id="get_group_info" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- 头 -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">课题组详细信息</h4>
            </div>
            
            <div class="layui-fluid">
              <div class="layui-card">
            <!-- 内容 -->
            <table class="layui-table" lay-filter="test">
                <thead>
                  <tr>
                    <th>学工号</th>
                    <th>姓名</th>
                    <th>学院</th>
                    <th>所在系</th>
                    <th>职务</th>
                  </tr>
                </thead>
                <tbody id="group_info">
                  <!-- {% for g in teacher_groups %}
                  <tr>
                    <td>{{g.group_id}}</td>
                    <td>{{g.group_name}}</td>
                    <td>{{g.topic}}</td>
                    <td>{{g.leader_id}}</td>
                  </tr>
                  {% endfor %} -->
                </tbody>
            </table>
          </div>
        </div>
            <br>
        </div>
    </div>
</div>